:root{
  --light-brown: #D98C71;
  --dark-brown: #b9775f;
  --light-grey: #484C54;
}

body{
  margin: 0;
  padding: 0 1rem;
color: var(--light-grey);
}

.heading{
  margin: 1.2rem 0;
  color: var(--light-brown);
  font-size: 2rem;
  text-align: center;
}

.sub-heading{
  color: var(--light-grey);
  font-size: 1.4rem;
  text-align: center;
  text-decoration: underline;
}

.description{
  text-align: center;
  letter-spacing: 0.5px;
}

.card{
  position: relative;
  height: 85vh;
  max-width: 48rem;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card-back, .card-front{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(170, 170, 170, 0.12) 0px 1px 2px 0px,
  rgba(95, 95, 95, 0.32) 0px 2px 4px 1px;
  backface-visibility: hidden;
  overflow-y: auto;
}

.card-front{
  text-align: center;
}

.card-back{
  padding: 0 1.5rem;
  transform: rotateY(180deg);
}

.form{
  max-width: 48rem;
  margin: 2rem auto;
}

.display-flex-coloumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  width: 56vmin;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: var(--dark-grey);
  color: var(--light-beige);
  caret-color: var(--light-beige);
  transition: border-color 0.2s;
  transition: background-color 0.2s;
}

.input, .submit-button{
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--light-grey);
  outline: none;
}

.submit-button{
  width: 10rem;
  height: 2.25rem;
  margin: 1rem;
  background-color: var(--light-brown);
  border-color: var(--light-brown);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-button:hover{
  background-color: var(--dark-brown);
  transition: background-color 0.2s;
}

.submit-button:active{
  transform: scale(0.95);
  transition: transform 0.2s;
}

.hero-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem 0;
  flex-wrap: wrap;
  width: 100%;
}

.hero-img{
  width: 50vmin;
}

.hero-description{
  font-size: 1.2rem;
  font-weight: bold;
  width: 60vmin;
  text-align: right;
}

@media(max-width: 750px){
  .hero-description{
    width: 90vmin;
    text-align: center;
  }
}

.card-back > .icon-back{
  align-self: start;
  margin: 1.3rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid var(--light-grey);
  border-radius: 0.5rem;
  cursor: pointer;
  height: 1rem;
}

.output{
  display: none;
  text-align: center;
  color: var(--dark-brown);
  font-size: 1.2rem;
  font-weight: bold;
}

.loader{
  display: none;
  margin: 0 auto;
}

.footer{
  margin-top: 2rem;
  border-top: 2px solid var(--light-brown);
  text-align: center;
}

.footer> .icon-sm{
  margin: 1rem;
  font-size: 24px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.footer>.icon-sm:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}
